<!DOCTYPE html>
<html lang="en">
<div th:replace="~{public-header}"></div>
<body>
<div th:replace="~{public-navbar}"></div>

<div class="container">

    <!-- Hero -->
    <div class="row text-center" style="margin-top: 7rem;">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="display-1 fw-bold mb-1">🚀 Evernet</h1>
            <h6 class="display-6 text-muted mb-4">
                Experience True Internet Freedom
            </h6>

            <div class="d-flex justify-content-center">
                <div class="col-8 col-md-6">
                    <hr class="opacity-25 my-4">
                </div>
            </div>

            <a class="btn btn-primary btn-lg px-5 mt-3" href="/join">
                ⚡ Get Started Now ➜
            </a>
        </div>
    </div>
</div>
<div th:replace="~{public-footer}"></div>
</body>
</html>