<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">🚀 Evernet</a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">🏠 Home</a>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-end">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                       href="#" role="button">⚙️ Settings</a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="/account">👤 Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">⏻ Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>