<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Evernet</a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">🏠 Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pricing">🗃️ Use Cases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs">📑 Docs</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="btn btn-secondary" href="/join">🙋🏻‍♀️️ Sign Up</a>
                <a class="btn btn-dark" href="/login" style="margin-left: 0.5rem;">➜] Login</a>
            </div>
        </div>
    </div>
</nav>