<!DOCTYPE html>
<!doctype html>
<html lang="en">
{% include 'public-header.html' %}
<body>
{% include 'public-navbar.html' %}

<div class="container">
    <div class="row text-center" style="margin-top: 7rem;">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="display-1 fw-bold">🚀 Evernet</h1>
            <h6 class="display-6 text-muted">Experience True Internet Freedom.</h6>
            <hr>
            <a href="/join" class="btn btn-primary btn-lg fw-bold">Get Started Now ➜</a>
        </div>
    </div>
</div>
{% include 'public-footer.html' %}
</body>
</html>