<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">🚀 Evernet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">🏠 Home</a>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-end">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">⚙️ Settings</a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="/account">👤 Account</a>
                        <a class="dropdown-item" href="/organization">🏢 Organization</a>
                        <a class="dropdown-item" href="/users">👥 Users</a>
                        <a class="dropdown-item" href="/logout">⏻ Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>