<!DOCTYPE html>
<!doctype html>
<html lang="en">
<div th:replace="~{public-header}"></div>
<body>
<div th:replace="~{public-navbar}"></div>

<div class="container">
    <div class="row text-center" style="margin-top: 7rem;">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="display-1 fw-bold">🚀Evernet</h1>`
            <h6 class="display-6 text-muted">Experience true freedom on the internet.</h6>
            <hr>
            <a href="/join" class="btn btn-primary btn-lg fw-bold">Get Started Now ➜</a>
        </div>
    </div>
</div>
<div th:replace="~{public-footer}"></div>
</body>
</html>